<!--<div class="col-12 lg:col-8">-->
<!--    <div class="card">-->
<!--        <h5 *ngIf="utilisateur">Affectation role pour {{utilisateur.prenom}} {{utilisateur.nom}} ({{utilisateur.matricule}})</h5>-->
<!--        <p-pickList [source]="rol" [target]="targetroles" sourceHeader="From" targetHeader="To"-->
<!--                    dragdrop="true"-->
<!--                    [responsive]="true" [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}">-->
<!--            <ng-template let-role pTemplate="item">-->
<!--                <div *ngIf="role">{{role.authority}}</div>-->
<!--                <div *ngIf="!role"></div>-->
<!--            </ng-template>-->
<!--        </p-pickList>-->
<!--        <br> <br>-->
<!--        <div class="p-formgrid grid">-->
<!--            <div class="field col">-->
<!--                <p-button label="Précèdent" (onClick)="prevPage()" icon="pi pi-angle-left" iconPos="left" class="p-toolbar-group-right"></p-button>-->
<!--            </div>-->
<!--            <div class="field col" style="margin-left:350px;">-->
<!--                <button pButton pRipple type="button" label="Affectation" align="right" class="p-button-success mr-2 mb-2" (click)="nextPage()" iconPos="right"></button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
