
<div class="card maPetiteCard">
    <div class="p-fluid grid formgrid">
<!--        <div class="field col-4 md:col-4">-->
<!--            <h5>Date</h5>-->
<!--            <p-calendar appendTo="body" [(ngModel)]="date1" dateFormat="yy-mm-dd" id="date1"  required [ngClass]="{'ng-invalid ng-dirty' : submitted && !date1}"></p-calendar>-->
<!--            <small *ngIf="submitted && !date1" class="p-error">Renseignez la date.</small>-->
<!--        </div>-->
        <div class="field col-4 md:col-4">
            <h5>Services</h5>
            <p-autoComplete appendTo="body"  [(ngModel)]="currentService" [virtualScroll]="true" [suggestions]="services" (completeMethod)="filterItems2($event)" field="nomservice" [dropdown]="true" ></p-autoComplete>
            <!--                        <small *ngIf="submitted && !currentService " class="p-error">Le service est obligatoire.</small>-->
        </div>
        <div >
            <h5>&nbsp;</h5>
            <p-button label="Rechercher" icon="pi pi-search" styleClass="mr-2 mb-2" (click)="rechercheByService(currentService)"></p-button>
        </div>
    </div>
<!--    <div class="mid">-->
<!--        <p-button label="Rechercher" icon="pi pi-search" styleClass="mr-2 mb-2" (click)="rechercheByService(date1,currentService)"></p-button>-->

<!--    </div>-->
</div>



<div class="grid" *ngIf="result">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export excel" icon="pi pi-upload" class="mr-2 inline-block" (click)="exportAsXLSX(result)"></button>
                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-success mr-2"  (click)="exportPDF(result)"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="result"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['matricule','nomagent','service.nomservice','prenomagent', 'motif.motif']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedPointages" selectionMode="multiple" [rowHover]="true" dataKey="idpointage">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0 text-danger"> La liste des Retards à :{{currentDate |date :  'dd-MM-yyyy HH:mm'}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." >
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Matricule </th>
                        <th>Prénom </th>
                        <th>Nom </th>
                        <th>Service </th>
                        <th>Date</th>
<!--                        <th>Statut Présence</th>-->
                        <!-- <th>Exception </th> -->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-absence>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Matricule</span>
                            {{absence.matricule}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Prénom</span>
                            {{absence.prenomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nom</span>
                            {{absence.nomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Service</span>
                            {{absence.service.nomservice}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date Pointage</span>
                            {{currentDate | date : "dd-MM-yyyy"}}
                        </td>

                </ng-template>
            </p-table>
        </div>
    </div>
</div>
