<div class="card">
    <div class="p-fluid grid formgrid">
        <div class="field col-3 md:col-3">
            <h5>Date Début</h5>
            <p-calendar appendTo="body" [(ngModel)]="date1" dateFormat="dd/mm/yy" id="date1"  required [ngClass]="{'ng-invalid ng-dirty' : submitted && !date1}"></p-calendar>
            <small *ngIf="submitted && !date1" class="p-error">Renseignez la date de début.</small>
        </div>
        <div class="field col-3 md:col-3">
            <h5>Date Fin</h5>
            <p-calendar appendTo="body" [(ngModel)]="date2" dateFormat="dd/mm/yy" id="date2"  required [ngClass]="{'ng-invalid ng-dirty' : submitted && !date2}"></p-calendar>
            <small *ngIf="submitted && !date2" class="p-error">Renseignez la date de fin.</small>
        </div>
        <div class="field col-3 md:col-3">
            <h5>Services</h5>
            <p-autoComplete placeholder="Choisir un service" appendTo="body"   [(ngModel)]="currentService" [virtualScroll]="true"
                            [suggestions]="services" (completeMethod)="filterItemsService($event)" field="nomservice" [dropdown]="true" ></p-autoComplete>

            <!--                        <small *ngIf="submitted && !currentService " class="p-error">Le service est obligatoire.</small>-->
        </div>
        <div class="field col-3 md:col-3">
            <h5 class="cache">Bouton</h5>
            <p-button label="Rechercher" icon="pi pi-search" styleClass="mr-2 mb-2" (click)="rechercheAbsenceByService(date1, date2,currentService)"></p-button>

        </div>
    </div>

</div>
<div class="grid" *ngIf="tourner==true">
    <h5 class="spinner">Veuillez Patienter...</h5>
    <p-progressSpinner class="spinner"></p-progressSpinner>
</div>
<div *ngIf="date1!=null && date2!=null && results && erreur==true && tourner==false" class="alert alert-danger" >
    Serveur Indisponible
</div>
<div class="grid" *ngIf="erreur==false && tourner==false">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export excel" icon="pi pi-upload" (click)="exportAsXLSX(results)" class="mr-2 inline-block" ></button>
                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-success mr-2"  (click)="exportPDF(result)"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="results"  responsiveLayout="scroll" [rows]="10"
                     [globalFilterFields]="['matricule','prenomagent','nomagent','genre']"
                     [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                     [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="idpointage">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Absences Périodiques par Service</h5>
                        <h5  class="left"><u>Service</u>: {{currentService.nomservice}}</h5>

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." >
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th>Prenom </th>
                        <th>Nom </th>
                        <th>Matricule </th>
                        <th>Date  Naissance </th>
                        <th>Date Absence </th>
                        <th>Genre </th>
                   <!--     <th pSortableColumn="heuredescente">Heure de Descente <p-sortIcon field="heuresortie"></p-sortIcon></th>
                        <th pSortableColumn="cumulheure">Cumul Heure <p-sortIcon field="cumulheure"></p-sortIcon></th>
                        <th pSortableColumn="motif.motif">Status <p-sortIcon field="motif.motif"></p-sortIcon></th>-->

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pointage>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Prenom</span>
                            {{pointage.prenomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nom</span>
                            {{pointage.nomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Matricule</span>
                            {{pointage.matricule}}
                        </td>

                        <!--                        <td  style="width:14%; min-width:10rem;">
                                                    <span class="p-column-title">Service</span>
                                                    {{pointage.agent.service.nomservice}}
                                                </td>-->
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date Naissance</span>
                            {{pointage.datenaissance | date: 'dd/MM/yyyy' }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date Absence</span>
                            {{pointage.dateabsence | date: 'dd/MM/yyyy'  }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Genre</span>
                            {{pointage.genre}}
                        </td>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
