.flex-column {
    flex-direction:  row !important;
}

.left{
    margin-left: 40px;
}

.spinner
{
    margin-left: 45%;
    justify-content: center;
}
.tourner
{
    margin-left: 45%;
    margin-top: 45%;
    justify-content: center;
}
