.flex-column {
    flex-direction:  row !important;
}

.cache
{
    visibility: hidden;
}

.spinner
{
    margin-left: 45%;
    justify-content: center;
}
.maPetiteCard {
    width: 70%; // Ajustez la largeur selon vos besoins
}
