 <div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Management Role" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNewRole()"></button>
<!--                        <button pButton pRipple label="Management Fonction" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNewF()"></button>-->
                    </div>
                </ng-template>
               
                <ng-template pTemplate="right">

                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-help mr-2 " (click)="exportPDF(user)"></button>
                    <button pButton pRipple label="Export Excel " icon="pi pi-upload" class="p-button-success" (click)="exportAsXLSX(user)"></button>

                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="user" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nom','prenom','email']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage des {first} aux {last}èmes des  {totalRecords} entrées" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste des Utilisateurs</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                        </th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="matricule">Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="telephone">Telephone <p-sortIcon field="telephone"></p-sortIcon></th>
                        <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
<!--                        <th pSortableColumn="structure">Structure <p-sortIcon field="structure"></p-sortIcon></th>-->
                        <th pSortableColumn="structure">Etat <p-sortIcon field="etat"></p-sortIcon></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-utilisateur>
                    <tr>
                        <td></td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Nom</span>
                            {{utilisateur.nom}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Prenom</span>
                            {{utilisateur.prenom}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{utilisateur.email}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Matricule</span>                            {{utilisateur.matricule}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Telephone</span>
                            {{utilisateur.telephone}}
                        </td>

                        <td style="min-width:10rem;">
                            <span class="p-column-title">Reference</span>
                            {{utilisateur.reference}}
                        </td>

                        <td style="min-width:10rem;">
                            <p-badge *ngIf="utilisateur.enable!=true"  class="user"  value=" Inactif" size="large" severity="danger"></p-badge>
                            <p-badge *ngIf="utilisateur.enable==true" class="user"  value="Actif" size="large" severity="success"></p-badge>

                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="editUser(utilisateur)"></button>
                            </div>
                        </td>
                        <td>
<!--                            <div class="flex">-->
<!--                                <button pButton pRipple icon="pi pi-bookmark" class="p-button-rounded p-button-secondary mr-2 mb-2" (click)="editStru(utilisateur)" pTooltip="Modifier Structures et Fonctions"></button>-->
<!--                            </div>-->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" header=" Ajouter Utilisateurs" [modal]="true" class="p-fluid">
            <h6 align="right"><span style="color: red"> *</span> Champs Obligatoires</h6>
            <ng-template pTemplate="content">
                <br>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="nom">Nom <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="nom"  [(ngModel)]="utilisateur.nom" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.nom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.nom">Le nom est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="prenom">Prenom  <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="prenom" [(ngModel)]="utilisateur.prenom" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.prenom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.prenom">Le prenom est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="email">Email <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="utilisateur.email" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.email}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.email">L'email est obligatoire.</small>

                    </div>
                    <div class="field col">
                        <label for="telephone">Téléphone</label>
                        <input type="text" pInputText id="telephone" pattern="[0-9]{9}" [(ngModel)]="utilisateur.telephone" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.telephone}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.telephone">Telephone est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="matricule">Matricule  <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="matricule" pattern="[0-9]{6}.[A-Z]{0}" [(ngModel)]="utilisateur.matricule" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.matricule}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.matricule">Matricule doit etre du format 123456A.</small>
                    </div>
                    <div class="field col">
                        <label for="reference">Reference</label>
                        <input type="text" pInputText id="reference" [(ngModel)]="utilisateur.reference" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.reference}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.reference">Reference est obligatoire.</small>
                    </div>
<!--                    <div class="field col">-->
<!--                        <label for="reference">PassWord</label>-->

<!--                        <p-password [(ngModel)]="utilisateur.password" [feedback]="false"  required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.password}"ng></p-password>-->

<!--                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.password">password est obligatoire.</small>-->
<!--                    </div>-->
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label>Service</label>
                        <br>
                        <p-autoComplete placeholder="Choisir un service" appendTo="body"  [(ngModel)]="utilisateur.service" [size]="2" [virtualScroll]="true"
                                        [suggestions]="filtereddirections" (completeMethod)="filterDirections($event)" field="nomservice" [dropdown]="true" ></p-autoComplete>
                    </div>
<!--                    <div class="field col">-->
<!--                        <label>Role</label>-->
<!--                        <p-autoComplete placeholder="Choisir un service" appendTo="body"  [(ngModel)]="utilisateur.role" [virtualScroll]="true"-->
<!--                                        [suggestions]="filteredRole" (completeMethod)="filterRoles($event)" field="authority" [dropdown]="true" ></p-autoComplete>-->

<!--                    </div>-->
                    <div class="field col">
                        <label>Role</label>
                        <br>
                        <p-autoComplete placeholder="Choisir un role" appendTo="body"  [(ngModel)]="utilisateur.role" [size]="2" [virtualScroll]="true"
                                        [suggestions]="filteredRole" (completeMethod)="filterRoles($event)" field="authority" [dropdown]="true" ></p-autoComplete>
                    </div>
                </div>
                <h5>Etat compte</h5>
                <p-toggleButton [(ngModel)]="utilisateur.enable" onLabel="Actif" offLabel="Inactif" [style]="{width:'10em'}"></p-toggleButton>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" [disabled]="!utilisateur.nom || !utilisateur.prenom || !utilisateur.email  || !utilisateur.matricule  || !utilisateur.service || !utilisateur.reference"  icon="pi pi-check" class="p-button-text" (click)="saveUser(utilisateur)"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="productDialog2" [style]="{width: '700px'}" header="Modifier Utilisateurs" [modal]="true" class="p-fluid">
            <h6 align="right"><span style="color: red"> *</span> Champs Obligatoires</h6>
            <ng-template pTemplate="content">
                <br>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="nom">Nom <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="nom2" [(ngModel)]="utilisateur.nom" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.nom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.nom">Le nom est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="prenom">Prenom  <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="prenom2" [(ngModel)]="utilisateur.prenom" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.prenom}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.prenom">Le prenom est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="email">Email <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="email2" [(ngModel)]="utilisateur.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.email}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.email">L'email est obligatoire.</small>

                    </div>
                    <div class="field col">
                        <label for="telephone">Téléphone</label>
                        <input type="text" pInputText id="telephone2" pattern="[0-9]{9}" [(ngModel)]="utilisateur.telephone" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.telephone}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.telephone">Telephone est obligatoire.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="matricule">Matricule  <span style="color: red"> *</span></label>
                        <input type="text" pInputText id="matricule2" pattern="[0-9]{6}.[A-Z]{0}" [(ngModel)]="utilisateur.matricule" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.matricule}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.matricule">Matricule doit etre du format 123456A.</small>
                    </div>
                    <div class="field col">
                        <label for="reference">Reference</label>
                        <input type="text" pInputText id="reference2" [(ngModel)]="utilisateur.reference" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !utilisateur.reference}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !utilisateur.reference">Reference est obligatoire.</small>
                    </div>
                  </div>

                    <div class="p-formgrid grid">
                        <div class="field col ms-2">
                            <label for="directions">Service</label>
                            <br>
                            <p-autoComplete placeholder="Choisir un service" appendTo="body"  [(ngModel)]="utilisateurService" [virtualScroll]="true"
                                            [suggestions]="filtereddirections" (completeMethod)="filterDirections($event)" field="nomservice" [dropdown]="true" ></p-autoComplete>
                        </div>

                    </div>
                <h5>Etat compte</h5>
                <p-toggleButton [(ngModel)]="utilisateur.enable" onLabel="Actif" offLabel="Inactif" [style]="{width:'10em'}"></p-toggleButton>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" [disabled]="!utilisateur.nom || !utilisateur.prenom || !utilisateur.email || !utilisateur.telephone || !utilisateur.matricule || !utilisateur.reference"  icon="pi pi-check" class="p-button-text" (click)="saveUser(utilisateur)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="structDialog" [style]="{width: '700px'}" header="Utilisateurs" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="directions">Structures</label>
                        <br>
                        <p-autoComplete placeholder="Search" id="directions" [dropdown]="true" [multiple]="false" [suggestions]="filtereddirections" (completeMethod)="filterDirections($event)" field="libelle" [(ngModel)]="utilisatreur.dg_structure" ></p-autoComplete>
                    </div>
                    <div class="field col">
                        <label for="roles">Fonctions</label>
<!--                        <p-autoComplete placeholder="Search" id="fonctions" [dropdown]="true" [multiple]="false" [suggestions]="filteredfonctions" (completeMethod)="filterFonctions($event)" field="libelle" [(ngModel)]="utilisatreur.dg_fonction" ></p-autoComplete>-->
                    </div>
                    <div>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rol.authority">
                            </ng-template>
                            <ng-template pTemplate="output">
                                Role: <b>{{rol.authority}}</b>
                            </ng-template>
                        </p-cellEditor>
                    </div>
                </div>
                <div class="field col">
                    <br> <br>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" [disabled]="!utilisatreur.nom || !utilisatreur.prenom || !utilisatreur.email || !utilisatreur.telephone || !utilisatreur.matricule || !utilisatreur.reference"  icon="pi pi-check" class="p-button-text" (click)="saveUserprime()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="productDialog3" [style]="{width: '700px'}" header="Historique utilisateur" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <p-table rowGroupMode="subheader" groupRowsBy="representative.name" sortField="representative.name" sortMode="single" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Date</th>
                            <th>Utilisateur</th>
                            <th>Fonctions</th>
                            <th>Structures</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowIndex="rowIndex">
                        <tr *ngFor="let histori of historique">
                            <td style="min-width: 200px;">
                                {{histori.dateTransfert | date:' dd/MM/yyyy, à HH:mm'}}
                            </td>
                            <td style="min-width: 200px;">
                                {{histori.dg_user.prenom}} {{histori.dg_user.nom}}
                            </td>
                            <td style="min-width: 200px;">
                                <span *ngIf="histori.dg_fonction_depart">{{histori.dg_fonction_depart.libelle}} => </span>
                                <span *ngIf="histori.dg_fonction_arrivee">{{histori.dg_fonction_arrivee.libelle}}</span>
                            </td>
                            <td style="min-width: 200px;">
                                <span *ngIf="histori.dg_structureDep">{{histori.dg_structureDep.libelle}} => </span>
                                <span *ngIf="histori.dg_structureArr">{{histori.dg_structureArr.libelle}}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="RolesDialog" header="Roles" [modal]="true" [style]="{width:'700px'}" class="p-fluid">
            <ng-template pTemplate="content">
                <br>
                <ng class="p-formgrid grid">
                    <div class="field col">
                        <label for="authority">Libelle</label>
                        <input type="text" pInputText id="authority"  [(ngModel)]="rolauthority"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !rolauthority">Le libelle est obligatoire.</small>
                    </div>
                    <div class="field col">
                        <label for="description">Description</label>
                        <input type="text" pInputText id="description" [(ngModel)]="roldescription" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !rol.description}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !roldescription">La description est obligatoire.</small>
                    </div>
                </ng>
                <div class="grid grid-nogutter justify-content-start">
                    <button pButton pRipple label="Nouveau" iconPos="right" [disabled]="!rolauthority || !roldescription" (click)="saveRole()" ></button>

                </div>
                <br><br>
                <p-table [value]="rol" dataKey="id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <h5>Liste des roles disponible</h5>
                    </ng-template>
                    <ng-template pTemplate="body" let-rolle let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rolle">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rolle.authority">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        Role: <b>{{rolle.authority}}</b>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rolle.description" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        Description: <b>{{rolle.description}}</b>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="UpdateRole(rolle)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="UpdateRoleSave(rolle)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="Cancel(rolle)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">

            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="FonctionDialog" header="Fonctions" [modal]="true" [style]="{width:'700px'}" class="p-fluid">
            <ng-template pTemplate="content">
                <br>
                <ng class="p-formgrid grid">
                    <div class="field col">
                        <label for="libelle">Libelle</label>
                        <input type="text" pInputText id="libelle"  [(ngModel)]="fonctions.libelle"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !fonctions.libelle">Le libelle est obligatoire.</small>
                    </div>
                </ng>
                <div class="grid grid-nogutter justify-content-start">
                    <button pButton pRipple label="Nouveau" iconPos="right" [disabled]="!fonctions.libelle" (click)="saveFonction()" ></button>

                </div>
                <br><br>
                <p-table [value]="fonction" dataKey="id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <h5>Liste des fonctions disponible</h5>
                    </ng-template>
                    <ng-template pTemplate="body" let-fonctions let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="fonctions">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="fonctions.libelle">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        Fonction: <b>{{fonctions.libelle}}</b>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="UpdateFonction(fonctions)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="UpdateFonctionSave(fonctions)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="CancelF(fonctions)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">

            </ng-template>
        </p-dialog>
    </div>
</div>
