<style>
    /*.layout-topbar,.layout-topbar-logo,.p-link{background-color: rgb(75, 75, 209);color: white;}*/
    .layout-topbar,.layout-topbar-logo,.p-link{background-color: #0D1968;color: white;}
</style>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logoPoste.png" alt="logo">
        <span style="font-family:cursive;">POINTAGE</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>
    <div class="ms-5">
                    <p-badge class="user"  value="{{utilisateur?.service.nomservice}}" size="large" severity="info"></p-badge>

<!--        <h4 class="user"><h5  style="color: white; margin-left:30%;"></h5>{{users?.service?.nomservice}} </h4>-->
    </div>


    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
<!--         <a href="#" class="p-link layout-topbar-button">-->
<!--            <i class="pi pi-calendar"></i>-->
<!--            <span>Calendar</span>-->
<!--        </a>-->
<!--        <a href="#" class="p-link layout-topbar-button">-->
<!--            <i class="pi pi-cog"></i>-->
<!--            <span>Settings</span>-->
<!--        </a>-->
<!--        <a href="#" class="p-link layout-topbar-button">-->
<!--            <i class="pi pi-user"></i>-->
<!--            <span>Profile</span>-->
<!--        </a>-->


<div  style="margin-right:25px">
     <span *ngFor="let ro of utilisateur.roles">
                                        &nbsp;
         <p-badge class="user"  value=" {{ro.description}}" size="large" severity="info"></p-badge>


     </span>
</div>
        <div>


            <h4 class="user"><h5 class="pi pi-user" style="color: white; margin-right:12px;"></h5>{{users.firstName}} {{users.lastName}} </h4>
        </div>
        <div>
            <button (click)="deconnexion()" pButton type="button" label="Deconnexion" class="p-button-danger" icon="pi pi-sign-out"></button>
        </div>
    </div>
</div>
