//.structure
//{
//    position: relative;
//    right: 140%;
//    top: 15%;
//}

.user
{
    position: relative;
    right: 15%;
    top: 15%;
}
.p-button-danger
{
    height: 35px;
    position: relative;
    top: 7%;
}

.logo
{
    width: 65px;
}

.pi
{
    font-size: 17px;
}
