<div class="card">
    <div class="p-fluid grid formgrid">
        <div class="field col-3 md:col-3">
            <h5>Date Début</h5>
            <p-calendar appendTo="body" [(ngModel)]="date1" dateFormat="dd/mm/yy" id="date1"  required [ngClass]="{'ng-invalid ng-dirty' : submitted && !date1}"></p-calendar>
            <small *ngIf="submitted && !date1" class="p-error">Renseignez la date de début.</small>
        </div>
        <div class="field col-3 md:col-3">
            <h5>Date Fin</h5>
            <p-calendar appendTo="body" [(ngModel)]="date2" dateFormat="dd/mm/yy" id="date2"  required [ngClass]="{'ng-invalid ng-dirty' : submitted && !date2}"></p-calendar>
            <small *ngIf="submitted && !date2" class="p-error">Renseignez la date de fin.</small>
        </div>
        <div class="field col-3 md:col-3">
            <h5>Services</h5>

                <p-autoComplete placeholder="Choisir un service" appendTo="body"  [(ngModel)]="currentService" [virtualScroll]="true"
                                [suggestions]="services" (completeMethod)="filterItems2($event)" field="nomservice" [dropdown]="true" ></p-autoComplete>



<!--                        <small *ngIf="submitted && !currentService " class="p-error">Le service est obligatoire.</small>-->
        </div>
        <div class="field col-3 md:col-3">
            <h5 class="tout" >TOUT</h5>
<!--            <div class="deux">
                <button *ngIf="currentService" pButton pRipple icon="pi pi-arrow-left"  class="p-button-warning mr-2" pTooltip="Retourner à la liste de tous les Services"  (click)="getAllPointage()"></button>
                <button *ngIf="currentService" pButton pRipple label=" ALL SERVICES"  class="p-button-warning" icon="pi pi-arrow-left"
                        (click)="getAllPointage()"></button>
            </div>-->
            <button *ngIf="currentService" pButton pRipple label="ALL SERVICES"  class="p-button-warning" icon="pi pi-arrow-left"
                    (click)="getAllPointage()"></button>
            <h5 *ngIf="currentService==null"></h5>
        </div>
    </div>
    <div class="mid">
        <p-button label="Rechercher" icon="pi pi-search" styleClass="mr-2 mb-2" (click)="rechercheByService(date1, date2,currentService)"></p-button>

    </div>
</div>

<div class="grid" *ngIf="tourner==true">
    <h5 class="spinner">Veuillez Patienter...</h5>
    <p-progressSpinner class="spinner"></p-progressSpinner>
</div>
<div *ngIf="date1!=null && date2!=null && result && erreur==true && tourner==false" class="alert alert-danger" >
    Serveur Indisponible
</div>
<div class="grid" *ngIf="tourner==false && erreur==false">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export excel" icon="pi pi-upload" class="mr-2 inline-block" (click)="exportAsXLSX(result)"></button>
                    <!-- <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-success mr-2" (click)="exportPDF(result)" ></button> -->
                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-success mr-2"  (click)="exportPDF(result)"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="result"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['agent.matricule','agent.nomagent','agent.service.nomservice','agent.prenomagent', 'heurearrivee', 'heuredesente', 'motif.motif']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedPointages" selectionMode="multiple" [rowHover]="true" dataKey="idpointage">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Rapport Présence par Service</h5>
                        <h5 *ngIf="currentService" class="left"><u>Service</u>: {{currentService.nomservice}}</h5>
                        <h5 *ngIf="!currentService"></h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." >
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr *ngIf="!currentService">
                        <th>Matricule </th>
                        <th>Prénom </th>
                        <th>Nom </th>
                        <th>Service </th>
                        <th pSortableColumn="datepointage">Date<p-sortIcon field="datepointage"></p-sortIcon></th>
                        <th pSortableColumn="heurearrivee">Arrivée<p-sortIcon field="heurearrivee"></p-sortIcon></th>
                        <th pSortableColumn="heuredescente">Descente<p-sortIcon field="heuresortie"></p-sortIcon></th>
                        <th pSortableColumn="cumulheure">Cumul<p-sortIcon field="cumulheure"></p-sortIcon></th>
                        <th pSortableColumn="motif.motif">Status <p-sortIcon field="motif.motif"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr *ngIf="currentService">
                        <th>Matricule </th>
                        <th>Prénom </th>
                        <th>Nom </th>
                        <th pSortableColumn="datepointage">Date<p-sortIcon field="datepointage"></p-sortIcon></th>
                        <th pSortableColumn="heurearrivee">Arrivée<p-sortIcon field="heurearrivee"></p-sortIcon></th>
                        <th pSortableColumn="heuredescente">Descente<p-sortIcon field="heuresortie"></p-sortIcon></th>
                        <th pSortableColumn="cumulheure">Cumul<p-sortIcon field="cumulheure"></p-sortIcon></th>
                        <th pSortableColumn="motif.motif">Status<p-sortIcon field="motif.motif"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template *ngIf="!currentService" pTemplate="body" let-pointage>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Matricule</span>
                            {{pointage.agent.matricule}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Prénom</span>
                            {{pointage.agent.prenomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nom</span>
                            {{pointage.agent.nomagent}}
                        </td>
                        <td  style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Service</span>
                            {{pointage.agent.service.nomservice}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date Pointage</span>
                            {{pointage.datepointage}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Heure d'arrivée</span>
                            {{pointage.heurearrivee }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">heure de descente</span>
                            {{pointage.heuredescente}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cumul heure</span>
                            {{pointage.cumulheure}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Status</span>
                            {{pointage.motif.motif}}
                        </td>
                </ng-template>
                <ng-template *ngIf="currentService" pTemplate="body" let-pointage>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Matricule</span>
                            {{pointage.agent.matricule}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Prénom</span>
                            {{pointage.agent.prenomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nom</span>
                            {{pointage.agent.nomagent}}
                        </td>
<!--                        <td  style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Service</span>
                            {{pointage.agent.service.nomservice}}
                        </td>-->
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date Pointage</span>
                            {{pointage.datepointage}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Heure d'arrivée</span>
                            {{pointage.heurearrivee }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">heure de descente</span>
                            {{pointage.heuredescente}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cumul heure</span>
                            {{pointage.cumulheure}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Status</span>
                            {{pointage.motif.motif}}
                        </td>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!--<div class="grid" *ngIf="tempAbsence">-->
<!--    <div class="col-12">-->
<!--        <div class="card">-->
<!--            <p-toolbar styleClass="mb-4">-->
<!--                <ng-template pTemplate="right">-->
<!--                    <button pButton pRipple label="Export excel" icon="pi pi-upload" class="mr-2 inline-block" (click)="exportAsXLSX2(tempAbsence)"></button>-->
<!--                </ng-template>-->
<!--            </p-toolbar>-->
<!--            <p-table  #dt [value]="tempAbsence"  responsiveLayout="scroll" [globalFilterFields]="['matricule','nomagent','service.nomservice','prenomagent', 'motif.motif']">-->
<!--                <ng-template pTemplate="caption">-->
<!--                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">-->
<!--                        <h5 class="m-0">Rapport Absence par Service</h5>-->
<!--                        <span class="block mt-2 md:mt-0 p-input-icon-left">-->
<!--                            <i class="pi pi-search"></i>-->
<!--                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." >-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </ng-template>-->
<!--                <ng-template pTemplate="header">-->
<!--                    <tr>-->
<!--                        <th>Matricule </th>-->
<!--                        <th>Prénom </th>-->
<!--                        <th>Nom </th>-->
<!--                        <th>Service </th>-->
<!--                        <th>Date Pointage</th>-->
<!--                        <th>Status </th>-->
<!--                        <th></th>-->
<!--                    </tr>-->
<!--                </ng-template>-->
<!--                <ng-template pTemplate="body" let-absence>-->
<!--                    <tr>-->
<!--                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Matricule</span>-->
<!--                            {{absence.matricule}}-->
<!--                        </td>-->
<!--                        <td style="width:14%; min-width:10rem;">-->
<!--                            <span class="p-column-title">Prénom</span>-->
<!--                            {{absence.prenomagent}}-->
<!--                        </td>-->
<!--                        <td style="width:14%; min-width:10rem;">-->
<!--                            <span class="p-column-title">Nom</span>-->
<!--                            {{absence.nomagent}}-->
<!--                        </td>-->
<!--                        <td style="width:14%; min-width:10rem;">-->
<!--                            <span class="p-column-title">Service</span>-->
<!--                            {{absence.service.nomservice}}-->
<!--                        </td>-->
<!--                        <td style="width:14%; min-width:8rem;">-->
<!--                            <span class="p-column-title">Date Pointage</span>-->
<!--&lt;!&ndash;                            {{dateabsence | date : "dd-MM-yyyy"}}&ndash;&gt;-->
<!--                        </td>-->
<!--                        <td style="width:14%; min-width:10rem;">-->
<!--                            <span class="p-column-title">Status</span>-->
<!--                            {{"ABSENT(E)"}}-->
<!--                        </td>-->
<!--                </ng-template>-->
<!--            </p-table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
