.deux{
    display: flex;
}

.row
{
    height: 331px;
    overflow: auto;
    overflow-x: hidden;
}
.left{
    margin-left: 15px;
}

.col-2:hover {
    background-color: #0b5ed7!important;
}
.carre{
    width: 20px;
    height: 20px;

}
.spinner
{
    margin-left: 45%;
    justify-content: center;
}
/*.date:hover {
   color: white;
}*/

.mid {
    text-align: center;
}
.maPetiteCard {
    width: 70%; // Ajustez la largeur selon vos besoins
}
