.margeTop{
    margin-top: 25px !important;
}

/*.left{
    margin-left: 15px;
}*/

.mid {
    text-align: center;
}
.flex-column {
    flex-direction:  row !important;
}
.spinner
{
    margin-left: 45%;
    justify-content: center;
}

#all{
    display: flex;
}
.tout{
    color: white;
}
.deux
{
    display: flex;
}
