.container {
    text-align: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.btn {
    margin-top: 20px;
}
.card-title{
    font-family:Vivaldi;
    font-size:40px;
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    text-decoration: none;

}
