<!--menu de chef de service ou controlleur pointage-->
<div class="container mt-5" *ngIf="isChefService()">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bienvenue dans notre application</h5>
            <p class="card-text">Cliquez sur le lien ci-dessous pour télécharger le guide de l'application :</p>
            <a href="../../../../assets/layout/images/manuel/MenuControleurPointage.docx" download="MenuControleurPointage.docx" class="btn btn-primary">
                Télécharger le guide de l'application
            </a>
        </div>
    </div>
</div>


<!--menu de responsable pointage  ou Agent-->

<div class="container mt-5" *ngIf="isRespPointage()">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bienvenue dans notre application</h5>
            <p class="card-text">Cliquez sur le lien ci-dessous pour télécharger le guide de l'application :</p>
            <a href="../../../../assets/layout/images/manuel/MenuResponsablePointage.docx" download="MenuResponsablePointage.docx" class="btn btn-primary">
                Télécharger le guide de l'application
            </a>
        </div>
    </div>
</div>

<!--menu superviseur-->

<div class="container mt-5" *ngIf="isSuperviseur()">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bienvenue dans notre application</h5>
            <p class="card-text">Cliquez sur le lien ci-dessous pour télécharger le guide de l'application :</p>
            <a href="../../../../assets/layout/images/manuel/MenuSuperviseur.docx" download="MenuSuperviseur.docx" class="btn btn-primary">
                Télécharger le guide de l'application
            </a>
        </div>
    </div>
</div>




