<div class="card">
    <p-toast></p-toast>
    <h5>Saisir le matricule de l'employé</h5>
        <div class="" >
            <div class="field">

                <label for="matriculeA"  class="p-sr-only">Matricule</label>
                <p-inputMask id="matriculeA" mask="999999a" [(ngModel)]="mat" required="true"   [ngClass]="{'ng-invalid ng-dirty' : submitted && !mat}" ></p-inputMask>

                <br>
                <small *ngIf="submitted && !mat" class="p-error" style="font-size: 15px;">Veuillez saisir un matricule, il doit être du format 111111A.</small>

            </div>
            <div>
                <button pButton label="Rechercher"  (click)="handleAddPointage()"></button>
                <button pButton pRipple icon="pi pi-user" label="Rattrapage" *ngIf="isAdmin() || isChefService()"
                        class="p-button-danger m-lg-auto mb-1 border-info" style="float:right;border-radius: 10px;"
                        (click)="confirmPointage()"></button>
            </div>
        </div>
</div>

<div class="grid">
    <div class="col-12">
        <p-dialog [(visible)]="agentDialog" [style]="{width: '500px', height: '28rem'}" header="Pointage" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <tr>
                    <th>
                        Matricule : &nbsp; &nbsp;
                    </th>
                    <td>
                        <p-badge class="droite" value="{{agent.matricule}}" size="large" severity="info"></p-badge>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;
                    </th>
                </tr>
                <tr>
                    <th>
                        Prenom  : &nbsp; &nbsp;
                    </th>
                    <td>
                        <p-badge class="droite" value="{{agent.prenomagent}}" size="large" severity="info"></p-badge>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;
                    </th>
                </tr>
                <tr>
                    <th>
                        Nom : &nbsp; &nbsp;
                    </th>
                    <td>
                        <p-badge class="droite" value="{{agent.nomagent}} " size="large" severity="info"></p-badge>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;
                    </th>
                </tr>
                <tr>
                    <th>
                        Service : &nbsp; &nbsp;
                    </th>
                    <td>
                        <p-badge class="droite" value="{{agent.service.nomservice}} " size="large" severity="info"></p-badge>
                    </td>
                </tr>

            </ng-template>
<!--               -->
            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="Annuler" icon="pi pi-times"  class="p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple type="button" label="Arrivée" icon="pi pi-sign-in"  class="p-button-info"  [disabled]="!buttonDisabled" (click)="savePointageMatin(agent)" ></button>
                <button pButton pRipple type="button" label="Descente" icon="pi pi-sign-out"  class="p-button-success" [disabled]="buttonDisabled" (click)="savePointageSoir(agent)" ></button>


                <!--                <button pButton pRipple label="Arrivée" icon="pi pi-check" class="p-button-text"  (click)="savePointageMatin()" ></button>-->
<!--                <button pButton pRipple label="Descente" icon="pi pi-check" class="p-button-text"  (click)="savePointageSoir()" ></button>-->
            </ng-template>
        </p-dialog>


    </div>
    <div >
        <body>
        <p-dialog [(visible)]="PointageDialog" [style]="{width: '700px', height: '50rem'}"
                  header="Rattrapage" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="form-container">
                    <h2 style="color:#0b5ed7">Enregistrement d'un Agent</h2>
                    <form class="form-horizontal" [formGroup]="FormControlPointage">
                        <div class="form-group">
                            <label for="matricule">MATRICULE:</label>
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" id="matricule" [(ngModel)]="matricule" placeholder="Matricule" formControlName="matricule"
                                       (keypress)="keyPressAlphaNumericWithCharacters($event)">
                                <mat-error *ngIf="FormControlPointage.controls['matricule'].hasError('minlength')">
                                    Le matricule doit comporter au moins <strong>7 caractères</strong>
                                </mat-error>
                                <mat-error *ngIf="FormControlPointage.controls['matricule'].hasError('maxlength')">
                                    Le matricule ne doit pas dépasser <strong>7 caractères</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <label for="datepointage">DATE POINTAGE:</label>
                            <mat-form-field>
                                <input matInput type="date" id="datepointage" placeholder="Date Pointage" [(ngModel)]="pointage.datepointage" formControlName="datepointage">
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <label for="heurearrivee">HEURE ARRIVEE:</label>
                            <mat-form-field>
                                <input matInput type="time" id="heurearrivee" placeholder="Heure Arrivée" [(ngModel)]="pointage.heurearrivee" formControlName="heurearrivee">
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <label for="heuredescente">HEURE DESCENTE:</label>
                            <mat-form-field>
                                <input matInput type="time" id="heuredescente" placeholder="Heure Descente" [(ngModel)]="pointage.heuredescente" formControlName="heuredescente">
                            </mat-form-field>
                        </div>
                    </form>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success" [disabled]="FormControlPointage.invalid" (click)="PointageNow(pointage)">
          <span class="btn-label">
            <i class="material-icons"></i>
          </span>Enregistrer
                    </button>

                        <button type="submit" class="btn btn-danger float-end" (click)="hideDialog1()">
          <span class="btn-label">
            <i class="material-icons"></i>
          </span>Annuler
                        </button>

                </div>
            </ng-template>
        </p-dialog>
        </body>
        <p-dialog [(visible)]="ajoutProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span><span style="color:red;font-size: 20px"> Voulez-vous Pointer Un Agent ? </span> </span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="ajoutProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="openForm()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

