
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
<!--                    <div class="my-2">-->
<!--                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>-->
<!--                        &lt;!&ndash;                        <button pButton pRipple label="Management Fonction" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNewF()"></button>&ndash;&gt;-->
<!--                    </div>-->
                </ng-template>

                <ng-template pTemplate="right">

                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-help mr-2 " (click)="dt.exportCSV()"></button>
                    <button pButton pRipple label="Export Excel " icon="pi pi-upload" class="p-button-success" (click)="dt.exportCSV()"></button>

                </ng-template>
            </p-toolbar>

            <p-table #dt [value]=" listAgent" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nom','prenom','email']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage des {first} aux {last}èmes des  {totalRecords} entrées" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">
                            <p-badge   class="user"  value=" Liste des Agents  {{user.service.nomservice}}" size="large" severity="worning"></p-badge>
                        </h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Rechercher..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!--                        <th style="width: 3rem">-->
                        <!--                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                        <!--                        </th>-->
                        <th>Référence </th>
                        <th>Matricule </th>
                        <th>Prénom </th>
                        <th>Nom </th>
                        <th pSortableColumn="genre">Sexe <p-sortIcon field="genre"></p-sortIcon></th>
                        <!-- <th pSortableColumn="datenaissance">Date de Naissance <p-sortIcon field="datenaissance"></p-sortIcon></th> -->
                        <th pSortableColumn="daterecrutement">Date Emb<p-sortIcon field="daterecrutement"></p-sortIcon></th>
                        <!-- <th pSortableColumn="premierjourtravail">1er Jour Travail <p-sortIcon field="premierjourtravail"></p-sortIcon></th> -->
<!--                        <th pSortableColumn="premierjourtravail">Statut <p-sortIcon field="premierjourtravail"></p-sortIcon></th>-->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-agent>
                    <tr>
                        <!--                        <td>-->
                        <!--                            <p-tableCheckbox></p-tableCheckbox>-->
                        <!--                        </td>-->

                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Référence</span>

                            <p-badge *ngIf="agent.statutAgent?.idstatut==1"  class="user"  value=" {{agent.reference}}" size="large" severity="success"></p-badge>
                            <p-badge  *ngIf="agent.statutAgent?.idstatut==2" class="user"  value=" {{agent.reference}}" size="large" severity="danger"></p-badge>

                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Matricule</span>
                            {{agent.matricule}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Prénom</span>
                            {{agent.prenomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nom</span>
                            {{agent.nomagent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Sexe</span>
                            {{agent.genre}}
                        </td>

                        <!-- <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date de Naissance </span>
                            {{agent.datenaissance | date: 'dd-MM-YYYY' }}
                        </td> -->
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date de Recrutement</span>
                            {{agent.daterecrutement | date: 'dd-MM-YYYY' }}
                        </td>
                        <td>
                            <!--                            <div class="flex">-->
                            <!--                                <button pButton pRipple icon="pi pi-bookmark" class="p-button-rounded p-button-secondary mr-2 mb-2" (click)="editStru(utilisateur)" pTooltip="Modifier Structures et Fonctions"></button>-->
                            <!--                            </div>-->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
